@media (hover: hover) {
  .u {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 0% 1px;
    transition: background-size 0.2s ease;
  }

  a:hover .u,
  a:focus .u {
    background-size: 100% 1px;
  }
}

.nl::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: '';
}
