$color-black: #000000;
$color-white: #ffffff;
$color-gray: #7f7f7f;

$font-family: "Inter", "Helvetica", sans-serif;
$font-weight-regular: 400;
$font-weight-extrabold: 700;

$width-m: 540px;
$width-l: 960px;
