<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= include('meta') %>
    <meta name="robots" content="noindex,nofollow,noarchive" />
  </head>
  <body class="bg-black color-white font-sans grid h-full text-base selection:bg-white selection:color-black">
    <p class="m-auto text-center text-lg">
      <a class="block flex-grow py-2 self-center" href="/"><span class="Underline">We couldn&rsquo;t find what you were&nbsp;looking&nbsp;for</span></a>
    </p>
    <%= include('analytics') %>
  </body>
</html>
